.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #00FFDD;
    padding: 10px 25px;
    font-family: "Teko", sans-serif;
}
.title-container h1{
    font-size: 36px;
    color: rgb(25, 0, 83);
    font-family: "Teko", sans-serif;
}
.link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    color: rgb(250, 243, 242);
    transition: color ease-in-out 300ms;
}
  
.link:hover {
    color: rgb(13, 17, 211);
}
  
.active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: #1b4388;
}
