.chart-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 30px 20px;
}
.sell-invest,.invest-revenue,.sell-revenue,.month-sell{
    text-align: center;
}
.title{
    margin: 30px 20px;
}

/* ==================== Responsive for Mobile devices =============== */
@media only screen and (max-width: 600px){
    .chart-container{
        grid-template-columns: 1fr;
    }
}